<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta th:include="/common/head :: head" />
<title>Create</title>
</head>
<body>
  <div th:include="/common/navigation :: nav"></div>
  <form method="post" th:object="${formModel}">
      <ul>
        <li th:each="error : ${#fields.detailedErrors()}">
            <span th:text="${error.message}">Error message</span>
        </li>
    </ul>
    <table>
      <tr>
        <td>Title</td>
        <td><input type="text" th:field="*{title}" th:placeholder="*{title}" />
      </tr>
      <tr>
        <td>Description</td>
        <td><input type="text" th:field="*{description}" th:placeholder="*{description}"/></td>
      </tr>
      <tr>
        <td>User_id</td>
        <td><input type="text" name="user_id" /></td>
      </tr>
      <tr>
        <td><input type="submit" /></td>
      </tr>
    </table>
  </form>
</body>
</html>