<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta th:include="common/head :: head" />
<title th:text="${title}">title</title>
</head>
<body>
<div class="container">
  <div th:include="common/navigation :: nav"></div>
  <form method="post" th:object="${formModel}" >
    <table>
      <tr>
        <td>Title</td>
        <td>
          <input type="text" class="form-control" th:field="*{title}" th:placeholder="*{title}" th:errorclass="fieldError"/>
          <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <input type="text" class="form-control" th:field="*{description}" th:placeholder="*{description}" th:errorclass="fieldError"/>
          <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </td>
      </tr>
      <tr>
        <td>User_id</td>
        <td>
          <input type="text" class="form-control" th:field="*{user_id}" th:errorclass="fieldError"/>
          <span th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}"></span>
        </td>
      </tr>
      <tr>
        <td><input type="submit" class="btn btn-primary"/></td>
      </tr>
    </table>
  </form>
<a class="btn btn-secondary" href="/article/">記事一覧に戻る</a>
</div>
</body>
</html>