<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
<meta th:include="common/head :: head" />
  <title>記事詳細</title>
</head>
<body>
<div class="container">
<div th:include="common/navigation :: nav"></div>
<div th:object="${data}">
  <p th:text="*{title}"></p>
  <p th:text="*{description}"></p>
  <p th:text="*{created_at}"></p>
  <p th:text="*{updated_at}"></p>
  <p th:text="*{user_id}"></p>
</div>
<button class="previos-page-back btn btn-secondary">戻る</button>
</div>
</body>
</html>